<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="uk.co.jsmondswimmingpool.mapper.AchievementMapper" >
  <resultMap id="BaseResultMap" type="uk.co.jsmondswimmingpool.entity.Achievement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="courseItemId" property="courseitemid" jdbcType="BIGINT" />
    <result column="studentId" property="studentid" jdbcType="BIGINT" />
    <result column="achievement" property="achievement" jdbcType="VARCHAR" />
    <result column="courseId" property="courseid" jdbcType="BIGINT" />
    <result column="courseName" property="coursename" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, courseItemId, studentId, achievement, courseId, courseName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="uk.co.jsmondswimmingpool.entity.AchievementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from achievement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from achievement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from achievement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="uk.co.jsmondswimmingpool.entity.AchievementExample" >
    delete from achievement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="uk.co.jsmondswimmingpool.entity.Achievement" >
    insert into achievement (id, courseItemId, studentId, 
      achievement, courseId, courseName
      )
    values (#{id,jdbcType=BIGINT}, #{courseitemid,jdbcType=BIGINT}, #{studentid,jdbcType=BIGINT}, 
      #{achievement,jdbcType=VARCHAR}, #{courseid,jdbcType=BIGINT}, #{coursename,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="uk.co.jsmondswimmingpool.entity.Achievement" >
    insert into achievement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseitemid != null" >
        courseItemId,
      </if>
      <if test="studentid != null" >
        studentId,
      </if>
      <if test="achievement != null" >
        achievement,
      </if>
      <if test="courseid != null" >
        courseId,
      </if>
      <if test="coursename != null" >
        courseName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseitemid != null" >
        #{courseitemid,jdbcType=BIGINT},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=BIGINT},
      </if>
      <if test="achievement != null" >
        #{achievement,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=BIGINT},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="uk.co.jsmondswimmingpool.entity.AchievementExample" resultType="java.lang.Integer" >
    select count(*) from achievement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update achievement
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.courseitemid != null" >
        courseItemId = #{record.courseitemid,jdbcType=BIGINT},
      </if>
      <if test="record.studentid != null" >
        studentId = #{record.studentid,jdbcType=BIGINT},
      </if>
      <if test="record.achievement != null" >
        achievement = #{record.achievement,jdbcType=VARCHAR},
      </if>
      <if test="record.courseid != null" >
        courseId = #{record.courseid,jdbcType=BIGINT},
      </if>
      <if test="record.coursename != null" >
        courseName = #{record.coursename,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update achievement
    set id = #{record.id,jdbcType=BIGINT},
      courseItemId = #{record.courseitemid,jdbcType=BIGINT},
      studentId = #{record.studentid,jdbcType=BIGINT},
      achievement = #{record.achievement,jdbcType=VARCHAR},
      courseId = #{record.courseid,jdbcType=BIGINT},
      courseName = #{record.coursename,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="uk.co.jsmondswimmingpool.entity.Achievement" >
    update achievement
    <set >
      <if test="courseitemid != null" >
        courseItemId = #{courseitemid,jdbcType=BIGINT},
      </if>
      <if test="studentid != null" >
        studentId = #{studentid,jdbcType=BIGINT},
      </if>
      <if test="achievement != null" >
        achievement = #{achievement,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        courseId = #{courseid,jdbcType=BIGINT},
      </if>
      <if test="coursename != null" >
        courseName = #{coursename,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="uk.co.jsmondswimmingpool.entity.Achievement" >
    update achievement
    set courseItemId = #{courseitemid,jdbcType=BIGINT},
      studentId = #{studentid,jdbcType=BIGINT},
      achievement = #{achievement,jdbcType=VARCHAR},
      courseId = #{courseid,jdbcType=BIGINT},
      courseName = #{coursename,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>